<p>contact-form works!</p>

<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">

    <label for="firstName">First Name</label>
    <input required ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">
    <p>Debug - errors: {{ firstName.control.errors?.['required'] }}, update: {{ firstName.update.hasError }}</p>
    <div class="alert alert-danger" *ngIf="firstName.control.value == null || firstName.control.errors?.['required']">First name is required</div>
  </div>
  <div class="form-group">

    <label for="comment">Comment</label>
    <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>

</form>
